*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgb(77, 77, 77);
}
body>section {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 25px);
    background-color: rgb(138, 138, 138);
    padding: 20px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 45px;
    margin-bottom: 60px;
}